# Database config
POSTGRES_USER=admin
POSTGRES_PASSWORD=secretpassword
POSTGRES_DB=NotebookDB
DATABASE_URL=postgresql://admin:secretpassword@localhost:5432/NotebookDB?schema=public
DATABASE_URL_PRODUCTION=postgresql://admin:secretpassword@postgres:5432/NotebookDB?schema=public

# Api server, client side server ports
EXPRESS_API_PORT=4000
CLIENT_SIDE_PORT=5173

# VITE env api server port - vite only reads env variables that start with VITE_
VITE_EXPRESS_API_PORT=4000