# Database config
POSTGRES_USER=admin
POSTGRES_PASSWORD=secretpassword
POSTGRES_DB=NotebookDB_example
DATABASE_URL=postgresql://admin:secretpassword@localhost:5432/NotebookDB_example?schema=public

# Api server, client side server ports
EXPRESS_API_PORT=4000
CLIENT_SIDE_PORT=5173

# VITE env api server port - vite only reads env variables that start with VITE_
VITE_EXPRESS_API_PORT=4000